// --- C O L O R S --- //

:root{
  --light: .7;
  --lighter: .4;

  /*Primary color*/
  --primary-rgb: 253,67,17;
  --primary: rgb(var(--primary-rgb));
  --primary-light: rgb(var(--primary-rgb), var(--light));
  --primary-lighter: rgb(var(--primary-rgb), var(--lighter));

  /*Black color*/
  --black-rgb: 24,26,24;
  --black: rgb(var(--black-rgb));
  --black-light: rgb(var(--black-rgb), var(--light));
  --black-lighter: rgb(var(--black-rgb), var(--lighter));

  /*White color*/
  --white-rgb: 247, 248, 247;
  --white: rgb(var(--white-rgb));
  --white-light: rgb(var(--white-rgb), var(--light));
  --white-lighter: rgb(var(--white-rgb), var(--lighter));

  /*Grey color*/
  --grey-rgb: 217, 217, 217;
  --grey: rgb(var(--grey-rgb));
  --grey-light: rgb(var(--grey-rgb), var(--light));
  --grey-lighter: rgb(var(--grey-rgb), var(--lighter));

  /*Danger color*/
  --danger-rgb: 230, 55, 0;
  --danger: rgb(var(--danger-rgb));
  --danger-light: rgb(var(--danger-rgb), var(--light));
  --danger-lighter: rgb(var(--danger-rgb), var(--lighter));
}
.white{
  color: var(--white);
}
.black{
  color: var(--black);
}

.primary, .red{
  color: var(--primary);
}
.disable, .grey{
  color: var(--grey);
}
.danger, .red{
  color: var(--danger);
}