@font-face {
  font-family: 'Romie';
  src: url('../../../src/assets/fonts/Romie-Regular.otf') format('opentype');
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Neue Montreal';
  src: url('../../../src/assets/fonts/NeueMontreal-Regular.otf') format('opentype');
  font-style: normal;
  font-display: swap;
}

:root{
  --title-font: 'Romie', serif;
  --text-font: 'Neue Montreal' , sans-serif;

  --font-size: 16px;
  @media only screen and (max-width: 900px){
    --font-size: 14px;
  }
}

.titre1, h1{
  font-size: 15.7vw;
  line-height: normal;
  text-align: center;
  font-family: var(--title-font);
  font-weight: 100;
}

.titre2, h2{
  font-size: var(--6m);
  line-height: normal;
  font-family: var(--title-font);
}
.titre3, h3{
  font-size: var(--4m);
  line-height: normal;
  font-family: var(--title-font);
}
@media only screen and (max-width: 900px){
  .titre2, h2{
    font-size: var(--5m);
  }
  .titre3, h3{
    font-size: var(--3m);
  }
}
@media only screen and (max-width: 600px){
  .titre2, h2{
    font-size: var(--4m);
  }
  .titre3, h3{
    font-size: var(--2m);
  }
}